<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Event Details</title>
</head>
<body>
<div class="container">
<hr>
<h3>Speaker's Directory</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Event Name</th>
            <th>Event Venue</th>
            <th>View Speaker Details</th>
            <th>Back to Event List</th>
        </tr>
        </thead>

        <tbody>
        <tr >

            <td th:text="${ #strings.toUpperCase(event.eventName) }" />
            <td th:text="${ #strings.toUpperCase(event.eventVenue) }" />
            <td>
                <a th:href="@{/api/speakers/list}">SPEAKERS</a>
            </td>
                <td>
                        <a th:href="@{/api/events/list}">BACK</a>
                </td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>